*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
} 

#none{
    display: none;
}

.divBase h1 {
    font-style: normal;
    font-size: 40px;
    line-height: 1.2;
    text-align: center;   
    text-transform: uppercase;
    display: none;
    margin-left: 12px;
}

.divBase {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100vw;
    background-color: #1490D7;
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.navegacao{
    justify-self: center;
    margin:auto;
    display: flex;
    justify-items: space-evenly;
    max-width: 1200px;
    width: 80%;
}

nav a {
    margin:auto;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.438rem;
    display: inline-block;
}

.divBase .nav-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    display: none;
   

}

@media(max-width: 960px){
    .divBase h1 {
        display: inline-block;
        
    }

    .divBase .nav-btn {
        visibility: visible;
        display: block;
        width: 32px;
        height: 32px;
        left: 316px;
        top: 34px;

    }

    .divBase nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 23.125rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #1490D7;
        transform: translateY(-100vh);
        top: 90px;
        z-index: 1000;
    }
    .divBase nav a{
        margin-left:12px;
        
    }


    .divBase .responsivo_nav{
        transform: none;
    }
    .div-botao-aberto{
        position: absolute;
        top: 34px;
        right: 12px;
        
    }
    .div-botao-fechado{
        position: absolute;
        top: 34px;
        right: 12px;


    }

}