
.CampoAll{
    background-color: #D9D9D9;
    width: 100%;
    height: auto;
    padding-bottom: 92px;
}
.Titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    
}

.carrossel {
    overflow: auto;
    white-space: nowrap;

}

.imagem{
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3,minmax(auto, 387px));
    justify-content: center;
    gap: 20px;
    color:#283645;
    row-gap: 24px;
    
    
}
@media screen and (max-width:1250px) {
    .imagem{
        grid-template-columns: repeat(auto-fit,minmax(387px, auto));

        }    
    @media screen and (max-width:960px) {
     

        .imagem{
            display: inline-block;
            padding: 20px  20px 1px ;
            
    
            
    
        }

        .imagem img {
            margin-right: 19px;

        }
    }
}